<!DOCTYPE html>

<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Add a party</title>
</head>
<body>
Give us some info about the party:
    <input type="text" name="name"/>
    <input type="text" name="description"/>
    <input type="date" name="date"/>
    <button value="wyślij"></button>
</body>
</html>