<!DOCTYPE html>

<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script th:src="@{/js/addParty.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <title>PARTY TIME!</title>
</head>
<body>
    <section class="hero is-primary is-bold">
       <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add party
                </h1>
                <h2 class="subtitle">
                    Give us some info about the party
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div style="max-width: 600px; margin: 0 auto; align-content: center;">
            <span style="color: #f00; font-size: 12px;">*</span>Name of the party: <br/>
            <input class="input listened"  id="name" placeholder="e.g. My sweet 16!"/><br/>
            <span style="color: #f00; font-size: 12px;">*</span>Description:<br/>
            <textarea class="textarea listened" id="description" placeholder="e.g Let's celebrate the occasion!"></textarea><br/>
            <span style="color: #f00; font-size: 12px;">*</span>Date and time:<br/>
            <input type="date" class="listened" id="date"/><input type="time" class="listened" id="time"/><br/>
            <span style="color: #f00; font-size: 12px;">*</span>City:<br/>
            <input class="input listened" id="city" placeholder="e.g. Warsaw"/><br/>
            <span style="color: #f00; font-size: 12px;">*</span>Address:<br/>
            <input class="input listened" id="address" placeholder="e.g. Waszyngtona 2/12"/><br/>
            Add image to the party:<br/>
            <input type="file" id="image"/><p id="error_file"></p><br/>
            <button class="button is-primary" id="send_button">Add</button>
            <button class="button" id="back">Back</button>
            <p id="warning"></p>
        </div>
    </section>
</body>
</html>