<!DOCTYPE html>

<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script th:src="@{/js/addParty.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/cookiesHandler.js}"></script>
    <title>PARTY TIME!</title>
</head>
<body>
    <section class="hero is-primary is-bold">
       <div class="hero-body">
            <div class="container">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <h1 class="title">
                                Add a party
                            </h1>
                        </div>
                    </div>
                    <div th:if="${#authorization.expression('isAuthenticated()')}" class="level-right">
                        <div th:replace="index::principal">
                        </div>
                    </div>
                </div>
                <h2 class="subtitle">
                    Give us some info about the party.
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div style="max-width: 600px; margin: 0 auto; align-content: center;">
            <span style="color: #f00; font-size: 12px;">*</span>Name of the party: <br/>
            <input class="input listened" autofocus="autofocus" id="name" placeholder="e.g. My sweet 16!"
                   maxlength="100"/><br/>
            <span style="color: #f00; font-size: 12px;">*</span>Description:<br/>
            <textarea class="textarea listened" id="description" placeholder="e.g Let's celebrate the occasion!"
                      maxlength="1000"></textarea><br/>
            <span style="color: #f00; font-size: 12px;">*</span>Date and time:<br/>
            <input type="date" class="listened" id="date"/><input type="time" class="listened" id="time"/><br/><br/>
            <span style="color: #f00; font-size: 12px;">*</span>City:<br/>
            <textarea class="input listened" id="city" placeholder="e.g. Warsaw"></textarea><br/>
            <span style="color: #f00; font-size: 12px;">*</span>Address:<br/>
            <textarea class="input listened" id="address" placeholder="e.g. Waszyngtona 2/12"></textarea><br/>
            Visibility: <select id="private">
            <option value="private">Private</option>
            <option value="public">Public</option>
        </select> Private parties will be visible only for invited users.<br/><br/>
            Add image to the party:<br/>
            <input type="file" id="image"/><p id="error_file"></p><br/>
            <button class="button is-primary" id="send_button">Add</button>
            <button class="button" id="back">Back</button>
            <p id="warning"></p>
        </div>
    </section>
</body>
</html>