<!DOCTYPE html>

<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>PARTY TIME!</title>
</head>
<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">
                            Party time!
                        </h1>
                    </div>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}" class="level-right">
                    <div th:fragment="principal" class="level-item">
                        <h2>Signed in as <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div>
            <h1>Arrange your party</h1>
            <h3>Simply add a new oncoming event. Just write some info and invite friends by sharing a link (or sth like that).<br/>
                    <a href="new_party">Let's do this!</a><br/>
            </h3>
        </div>
        <div>
            <h2>You can see all the upcoming events here:</h2>
            <h3> <a href="search_parties">Look through parties</a></h3>
        </div>
        <div th:if="${#authorization.expression('!isAuthenticated()')}">
            <form action="/login">
                <input type="submit" class="button is-primary" value="Sign in">
            </form>
            <form action="/register">
                <input type="submit" class="button" value="Sign up">
            </form>
        </div>

        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <form action="/logout">
                <input type="submit" class="button is-primary" value="Sign out">
            </form>
        </div>
    </section>
   </body>
</html>