<!DOCTYPE html>

<html lang="pl" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>PARTY TIME</title>
</head>
<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Party time!
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div>
            <h2>Arrange your party</h2>
            <h3>Simply add a new oncoming event. Just write some info and invite friends by sharing a link (or sth like that).<br/>
                    <a href="new_party">Let's do this!</a><br/>
            </h3>
        </div>
            <h2>There you can see all the upcoming events:</h2>
            <h3> <a href="search_parties">Look through parties</a></h3>
    </section>
   </body>
</html>