<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>LOGOUT SUCCESS</title>
</head>
<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Logout</h1>
            </div>
        </div>
    </section>
<section class="section">
    <div style="text-align: center">
        <h2>Logout successful</h2>
        <div >
        <form action="/" style="text-align: center">
            <input type="submit" class="button is-primary" style="display: inline-block" value="Ok">
        </form>
        </div>
    </div>
</section>
</body>
</html>