<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/2000/svg">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/party.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script th:src="@{/js/party.js}" type="text/javascript"></script>

    <title>PARTY TIME!</title>
</head>
<body>
    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">
                            Party details
                        </h1>
                    </div>
                </div>
                <div th:if="${#authorization.expression('isAuthenticated()')}" class="level-right">
                    <div th:replace="index::principal">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:if="${party.image}!=null" class="image level">
        <div class="level-item divided">
            <img class="left" src="/images/partyImage(1).jpeg" th:src="@{'/images/' + ${party.image.name}}"/>
        </div>
        <div class="level-item divided">
            <img class="center" src="/images/partyImage(1).jpeg" th:src="@{'/images/' + ${party.image.name}}"/>
        </div>
        <div class="level-item divided">
            <img class="right" src="/images/partyImage(1).jpeg" th:src="@{'/images/' + ${party.image.name}}"/>
        </div>
    </div>
    <section class="section">
        <div class="container">
            <h1 class="title limited" th:text="${party.name}"></h1>
            <h2 class="subtitle limited" th:text="${party.description}"></h2><br/>
            <h1 class="subtitle">When?</h1>
            <h2 class="limited" th:text="${party.date} + ' at ' + ${party.time}"></h2><br/>
            <h1 class="subtitle">Where?</h1>
            <h2 class="limited" th:text="${party.city} + ', ul. ' + ${party.address}"></h2><br/>
            <h3 class="limited">Party arranged by <span
                    th:text="${party.organizer.first_name}+' '+${party.organizer.surname}"></span></h3><br/>
            <h3 class="limited">This party is
                <span th:if="${party.priv}"
                      th:text="private."></span>
                <span th:unless="${party.priv}"
                      th:text="public."></span></h3><br/>
            <button class="button is-primary" id="back">Back</button>
            <button class="button" id="main_page">Main Page</button>
        </div>
    </section>
</body>
</html>