<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <title>USER DETAILS</title>
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">
                        Profile details
                    </h1>
                </div>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}" class="level-right">
                <div th:replace="index::principal">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="columns">
        <div class="column">
            <label class="label">Email:</label>
            <p id="email" th:text="${user.email}"></p><br/>
            <div class="edit">
                <label class="label"><span style="color: #f00; font-size: 12px;">*</span>First name:</label>
                <input class="input" id="first_name_input" th:value="${user.first_name}"/>
                <label class="label"><span style="color: #f00; font-size: 12px;">*</span>Surname:</label>
                <input class="input" id="surname_input" th:value="${user.surname}"/>
                <label class="label"><span style="color: #f00; font-size: 12px;">*</span>Date of birth:</label>
                <input type="date" id="birth_input" th:value="${user.date_of_birth}"/><br/>
                <button id="save_button" class="button is-success">
                 <span class="icon is-small">
                    <i class="fas fa-check"></i>
                 </span>
                    <span>Save</span>
                </button>
                <button class="button" id="cancel">Cancel</button>
                <button class="button" id="back1">Back</button>
                <button class="button" id="main1">Main page</button>
            </div>
            <div class="no_edit">
                <label class="label">First name:</label>
                <p id="first_name" th:text="${user.first_name}"></p><br/>
                <label class="label"><span style="color: #f00; font-size: 12px;">*</span>Surname:</label>
                <p id="surname" th:text="${user.surname}"></p><br/>
                <label class="label">Date of birth:</label>
                <p id="birth" th:text="${user.date_of_birth}"></p><br/><br/>
                <button id="edit_button" class="button is-primary">Edit</button>
                <button class="button" id="back2">Back</button>
                <button class="button" id="main2">Main page</button>
            </div>
            <p id="warning"></p>
        </div>
        <div class="column">
            <table class="table is-hoverable is-striped">
                <tr>
                    <th>My parties</th>
                </tr>
                <tbody id="parties_table"></tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>