.limited{
    max-width:70%;
    word-wrap:break-word;
}

.image{
    width: 100%;
}

.left, .right{
    filter: blur(8px);
    opacity: 0.9;
    transform: scale(1.2);
    margin-left: -10px;
}
.level{
    align-items: stretch;
}

.divided {
    overflow: hidden;
    width:33%;
    max-width: none;
}

